<div class="container">

	<h1>Add product:</h1>
	<div class="row">
		<form class="well" ng-submit="addProduct()">
			<input type="text" ng-model="newName" placeholder="Product name..." required />
			<input type="text" ng-model="newDescription" placeholder="Product description..." required />
			<input type="number" ng-model="newPrice" placeholder="Product price..." required />
			<button type="submit">Submit</button>
		</form>
	</div>

	<h1>Update product:</h1>
	<div class="row">
		<form class="well" ng-submit="updateProduct()">
			<select ng-model="existingProduct" ng-options="product.name for product in products" required />
				<option value="">--Product--</option>
			</select>
			<input type="text" ng-model="updateName" placeholder="New product name..."/>
			<input type="text" ng-model="updateDescription" placeholder="New description"/>
			<input type="number" ng-model="updatePrice" placeholder="New price..."/>
			<button type="submit">Submit</button>
		</form>
	</div>

	<h1>Delete product:</h1>
	<div class="row">
		<form class="well" ng-submit="deleteProduct()">
		<select ng-model="deletedProduct" ng-options="product.name for product in products" required />
			<option value="">--Product--</option>
		</select>
		<button type="submit">Delete</button>
		</form>
	</div>

</div>
